# 2. Acquire the Data

## Finding Data Sources

**(https://datascience.nih.gov/covid-19-open-access-resources)**The Office of Data Science Strategy seeks to provide the research community with links to open-access data, computational, and supporting resources. These resources are being aggregated and posted for scientific and public health interests. Inclusion of a resource on this list does not mean it has been evaluated or endorsed by NIH.
## Scraping the Data


### Ways to Scrape Data

1.Access to Datasets
Get immediate access to existing datasets.

2.Quality & Accurate Data for Research
Accurate data that researchers can rely on.

3.Fast Access Public Web Data
Gather data from millions of public web pages, such as research publications, news articles, & social media.

In [1]:
import pandas as pd
df_covid=pd.read_csv("C:\\Users\hp\Downloads\COVID1.csv")

In [3]:
len(df_covid)

1085

In [4]:
type(df_covid)

pandas.core.frame.DataFrame

In [5]:
df_covid.shape

(1085, 27)

In [6]:
pd.set_option("display.max.columns", None)

In [8]:
pd.set_option("display.precision", 2)

In [9]:
df_covid.tail()

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
1080,1081,2.0,2/25/2020,NaN,"new COVID-19 patient confirmed in Austria: 24,...",Innsbruck,Austria,NaN,24.0,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Jakarta Post,https://www.thejakartapost.com/news/2020/02/25...,NaN,NaN,NaN,NaN,NaN,NaN
1081,1082,1.0,2/24/2020,NaN,new COVID-19 patient confirmed in Afghanistan:...,Afghanistan,Afghanistan,NaN,35.0,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Fox News,https://www.foxnews.com/health/afghanistan-fir...,NaN,NaN,NaN,NaN,NaN,NaN
1082,1083,1.0,2/26/2020,NaN,new COVID-19 patient confirmed in Algeria: mal...,Algeria,Algeria,male,NaN,NaN,NaN,NaN,NaN,2/17/2020,0,0.0,0,0,NaN,South China Morning Post,https://www.scmp.com/news/china/society/articl...,NaN,NaN,NaN,NaN,NaN,NaN
1083,1084,1.0,2/25/2020,NaN,new COVID-19 patient confirmed in Croatia: mal...,Croatia,Croatia,male,NaN,NaN,NaN,NaN,2/19/2020,2/21/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/us-croatia-cor...,NaN,NaN,NaN,NaN,NaN,NaN
1084,1085,1.0,2/25/2020,NaN,new COVID-19 patient confirmed in Switzerland:...,Bern,Switzerland,male,70.0,2/17/2020,NaN,NaN,2/15/2020,2/15/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/uk-switzerland...,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_covid['location']

0       Shenzhen, Guangdong
1                  Shanghai
2                  Zhejiang
3                   Tianjin
4                   Tianjin
               ...
1080              Innsbruck
1081            Afghanistan
1082                Algeria
1083                Croatia
1084                   Bern
Name: location, Length: 1085, dtype: object

In [11]:
df_covid['country']

0             China
1             China
2             China
3             China
4             China
           ...
1080        Austria
1081    Afghanistan
1082        Algeria
1083        Croatia
1084    Switzerland
Name: country, Length: 1085, dtype: object

In [12]:
df_covid.country

0             China
1             China
2             China
3             China
4             China
           ...
1080        Austria
1081    Afghanistan
1082        Algeria
1083        Croatia
1084    Switzerland
Name: country, Length: 1085, dtype: object

In [15]:
df_covid[0:10]["country"]

0    China
1    China
2    China
3    China
4    China
5    China
6    China
7    China
8    China
9    China
Name: country, dtype: object

In [16]:
df_covid[0:10]["location"]

0    Shenzhen, Guangdong
1               Shanghai
2               Zhejiang
3                Tianjin
4                Tianjin
5              Chongqing
6                Sichuan
7                Beijing
8                Beijing
9                Beijing
Name: location, dtype: object

In [20]:
df_covid["location"][0:10]

0    Shenzhen, Guangdong
1               Shanghai
2               Zhejiang
3                Tianjin
4                Tianjin
5              Chongqing
6                Sichuan
7                Beijing
8                Beijing
9                Beijing
Name: location, dtype: object

In [18]:
pd.unique(df_covid['country'])

array(['China', 'France', 'Japan', 'Malaysia', 'Nepal', 'Singapore',
       'South Korea', 'Taiwan', 'Thailand', 'USA', 'Vietnam', 'Australia',
       'Canada', 'Cambodia', 'Sri Lanka', 'Germany', 'UAE', 'Hong Kong',
       'Italy', 'Russia', 'UK', 'India', 'Phillipines', 'Finland',
       'Spain', 'Sweden', 'Belgium', 'Egypt', 'Iran', 'Israel', 'Lebanon',
       'Kuwait', 'Bahrain', 'Austria', 'Afghanistan', 'Algeria',
       'Croatia', 'Switzerland'], dtype=object)

In [19]:
pd.unique(df_covid['location'])

array(['Shenzhen, Guangdong', 'Shanghai', 'Zhejiang', 'Tianjin',
       'Chongqing', 'Sichuan', 'Beijing', 'Shandong', 'Yunnan', 'Jiangxi',
       'Macau', 'Liaoning', 'Fujian', 'Guizhou', 'Shanxi', 'Ningxia',
       'Guangxi', 'Henan', 'Hebei', 'Jiangsu', 'Heilongjiang', 'Jilin',
       'Wuhan, Hubei', 'Hunan', 'Gansu', 'Shanxi (陕西)', 'Xinjiang',
       'Hubei', 'Inner Mongolia', 'Shaanxi', 'Hechi, Guangxi', 'Bordeaux',
       'Paris', 'France', 'Annecy', 'Amiens', 'Strasbourg', 'Saint-Mande',
       'Dijon', 'Lile', 'Nantes', 'Montpellier', 'Brest', 'Lyon',
       'Bois-Guillaume', 'Nice', 'Kanagawa', 'Tokyo', 'Aichi Prefecture',
       'Nara Prefecture', 'Hokkaido', 'Osaka Prefecture', 'Mie', 'Japan',
       'Kyoto', 'Haneda', 'Chiba Prefecture', 'Wakayama Prefecture',
       'Okinawa Prefecture', 'Sagamihara', 'Sapporo', 'Nagoya City',
       'Fukuoka Prefecture', 'Ishikawa', 'Saitama Prefecture',
       'Kumamoto City', 'Kumamoto Prefecture', 'Nagano Prefecture',
       'Gifu Prefecture', 'Johor', 'Langkawi', 'Malaysia', 'Kathmandu',
       'Singapore', 'South Korea', 'Seoul', 'Taiwan', 'Thailand',
       'Washington', 'Illinois', 'California', 'Arizona', 'Massachusetts',
       'Wisconsin', 'Texas', 'Ho Chi Minh City', 'Hanoi', 'Thanh Hoa',
       'Vietnam', 'Vinh Phuc', 'NSW', 'Victoria', 'Queensland',
       'South Australia', 'Toronto', 'Vancouver',
       'Preah Sihanouk Province', 'Sri Lanka', 'Bavaria', 'Frankfurt',
       'Baden-Wuerttemberg', 'Tubingen', 'North Rhine-Westphalia',
       'Hamburg', 'Rhineland-Palatinate', 'Hesse', 'UAE', 'Hong Kong',
       'Yau Ma Tei', 'Tsing Yi', 'Kowloon', 'Kwun Tong', 'Kwai Chung',
       'Zhuhai', 'Fo Tan', 'Wan Chai', 'Ngau Chi Wan', 'Rome', 'Tyumen',
       'Zabaikalsky', 'York', 'London', 'UK', 'Nortern Ireland', 'Wales',
       'Kerala', 'Alappuzha', 'Manila', 'Phillipines', 'Lapland',
       'Canary Islands', 'Mallorca', 'Tenerife', 'Barcelona', 'Madrid',
       'Castellon', 'Andalusia', 'Valencia', 'Castile and Leon',
       'Zaragoza', 'Jonkoping', 'Belgium', 'Egypt', 'Qom', 'Araq',
       'Tehran', 'Guilan', 'Israel', 'Lebanon', 'Kuwait', 'Bahrain',
       'Innsbruck', 'Afghanistan', 'Algeria', 'Croatia', 'Bern'],
      dtype=object)